.title {
    font-size: xx-large;
    font-weight: 550;
}

.titleInput {
    background-color: lightgray;
    border: 3px solid black;
}

.paragraph {
    background-color: lightgray;
}

.paragraphInput {
    border: 3px solid black;
}

.backdrop {
    background-color:bisque;
}

.middledrop {
    background-color:azure;
}

.CTAtoggle {
    margin: 5px;
}

.CTA {
    border: 2px solid black;
    background-color: lightgray;
}