.title {
    font-size: xx-large;
}

.titleInput {
    background-color: lightgray;
    border-width: 5px;
    border-color:black;
}

.paragraph {
    background-color: lightgray;
}

.paragraphInput {
    border-width: 3px;
    border-color:black;
}